@font-face {
  font-family: "NectoMono";
  src: url(/NectoMono/NectoMono-Regular.otf);
}
@font-face {
  font-family: "Nunito";
  src: url(/Nunito/static/Nunito-Light.ttf);
}

body {
  font-family: NectoMono, sans-serif;
  overflow: hidden;
}
p {
  margin: 0;
}
h1 {
  font-size: 2.5rem;
  font-family: Nunito, sans-serif;
}


.u-RootScreen {
  max-height: 100vh;
  max-height: 100svh;
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0 2rem;
  align-items: center;
}


.u-FullScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  display: flex;
}

