.root svg {
  width: 100%;
}
#AXE path,
#BARRE,
#GRILLE path {
  stroke-width: 3px;
  stroke-linecap: round;
}
#FRAGMENTS path {
  cursor: pointer;
  opacity: 0.8;
}
#FRAGMENTS path:hover {
  opacity: 1;
}
#BARRE {
  transition: transform 0.33s linear;
}
.is-playing #BARRE {
  transform: translateX(100%);
  transition: transform var(--duration) linear;
}
.pencil-mark {
  stroke-width: 0.75px;
  stroke: #f86806;
  stroke-opacity: 0.88;
  stroke-linecap: round;
  fill: none;
}

.rotor {
  transform-origin: var(--origin);
}
